{% extends 'base.html' %}
{% block title %}
    <title>{{content.title}}</title>
{% endblock %}
{% block content %}
    <form method="post">
        <input type="text" name="name" placeholder="Название курса"><br>
        <textarea name="title" placeholder="Описание курса"></textarea><br>
        <button class="button" type="submit">Создать курс</button>
    </form>
    <div class="courses">
        {% for course in content.content_data %}
        <div class="course">
            <div class="name">{{course.name}}</div>
            <div class="description">{{course.title}}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}